* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* border: 1px solid rgba(0,0,0, .2) */
}

ul li {
    display: inline;
}

body {
    background-color: lemonchiffon;
}

.homework-container {
    max-width: 1000px;
    min-height: 1500px;
    margin: 0 auto;
    border: 5px solid green;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.homework-container p {
    display: inline-block;
    width: 50%;
}

.par1 {
    text-align: center;
    background-color: aquamarine
}

.mypic {
    float: right;
    left: -50px;
}