* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
}

body {
    background-color: lemonchiffon;
}

p {
    font-weight: bold;
    font-size: 16px;
}

section > p {
    color: blue;
    background-color: gold;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: wavy;
    border-radius: 5px;
    border: 5px dotted black;
    padding: 10px;
    width: max-content;
}

.homework-container {
    border: 5px solid green;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.homework-container p {
    width: 10%;
    display: inline-block;
}

.mynav {
    padding: 5px;
}

.par1 * {
    display: inline-block;
    width: 10%;
}

