* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    clear: both;
}

header {
    background-color: antiquewhite;
}

footer {
    background-color: aqua;
}

main {
    background-color: crimson;
    width: 100%;
}

.box-container {
    background-color: royalblue;
    height: fit-content;
    width: 100%;
}

.box {
    background-color: hotpink;
    border: 5px solid sienna;
    width: 33.3333%;
    height: 100px;
    float: left;
}

.layout-box {
    background-color: darkolivegreen;
    height: 300px;
    float: left;
    border: 1px solid black;
}

.layout-box1 {
    width: 20%;
}

.layout-box2 {
    width: 40%;
}

.layout-box3 {
    width: 30%;
}

.layout-box4 {
    width: 10%;
}

/* media queries */
@media screen and (max-width: 600px) {
    .layout-box {
        background-color: burlywood;
        width: 100%;
        float: none;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .layout-box {
        background-color: royalblue;
        width: 33.3333%;
    }

    .layout-box1 {
        display: none;
    }
}

